@model C_Models.Login

<table>
    <tr>
        <td>User ID:</td>
        <td>@Model.Userid</td>
    </tr>
    <tr>
        <td>Username:</td>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>User Role:</td>
        <td>@Model.UserRole</td>
    </tr>
    <tr>
        <td>Reset Token:</td>
        <td>@Model.ResetToken</td>
    </tr>
    <tr>
        <td>Reset Token Expiry:</td>
        <td>@Model.ResetTokenExpiry</td>
    </tr>
</table>
