@model C_Models.Login
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Change Password</h1>

@using (Html.BeginForm("ChangePasswordAgain", "Login"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserPassword)
        @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </div>


    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
}
