@model C_Models.Login

@{
    ViewBag.Title = "Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="row g-5">

        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.3s">

            <div class="card-container">
                @*<div>
                        <h2>Create Login</h2>

                        @using (Html.BeginForm("Insert", "LoginController", FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName)
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserPassword)
                                @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UserRole)
                                @Html.TextBoxFor(model => model.UserRole, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ResetToken)
                                @Html.TextBoxFor(model => model.ResetToken, new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ResetTokenExpiry)
                                @Html.TextBoxFor(model => model.ResetTokenExpiry, new { @class = "form-control" })
                            </div>

                            <button type="submit" class="btn btn-primary">Create</button>
                        }
                    </div>*@


                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Register</h1>

                        <form asp-action="Insert">
                            <div class="form-group">
                                <label asp-for="UserName">Username:</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UserPassword">Password:</label>
                                <input asp-for="UserPassword" class="form-control" type="password" />
                                <span asp-validation-for="UserPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="UserRole">Role:</label>
                                <input asp-for="UserRole" class="form-control" />
                                <span asp-validation-for="UserRole" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Register" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- About End -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Theame/lib/wow/wow.min.js"></script>
<script src="~/Theame/lib/easing/easing.min.js"></script>
<script src="~/Theame/lib/waypoints/waypoints.min.js"></script>
<script src="~/Theame/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="~/Theame/js/main.js"></script>
























@*@model C_Models.Login

    @{
        ViewBag.Title = "Insert";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div>
        <h2>Create Login</h2>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserPassword)
                @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserRole)
                @Html.TextBoxFor(model => model.UserRole, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ResetToken)
                @Html.TextBoxFor(model => model.ResetToken, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ResetTokenExpiry)
                @Html.TextBoxFor(model => model.ResetTokenExpiry, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        }


    </div>*@