@model C_Models.Login


<div class="card">
    <div class="card-body">
        <h3 class="card-title">Reset Password</h3>
        <div>
            @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <button type="submit" class="btn btn-primary">Reset Password</button>
            }
        </div>


        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>
        }
    </div>
</div>